In [1]:
import numpy as np
import pandas as pd
import sqlite3

s1 = pd.Series([0.2, 0.8, 4.2, 3.1, 2.1], index=['a', 'b', 'c', 'd', 'e'])

d = {'a' : 0., 'b' : 1., 'c' : 2., 'e': 3., 'f': 4.}
s2 = pd.Series(d)

In [2]:
s1

a    0.2
b    0.8
c    4.2
d    3.1
e    2.1
dtype: float64

In [3]:
s2

a    0.0
b    1.0
c    2.0
e    3.0
f    4.0
dtype: float64

In [4]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
df1 = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
df1

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [5]:
db = sqlite3.connect(':memory:')
cursor = db.cursor()

cursor.execute('''CREATE TABLE football(id INTEGER PRIMARY KEY, years INTEGER, team TEXT, wins INTEGER, losses INTEGER)''')

data = [(0, 2010, 'Bears', 11, 5), (1, 2011, 'Bears', 8, 8), (2, 2012, 'Bears', 10, 6), (3, 2011, 'Packers', 15, 1),
        (4, 2012, 'Packers', 11, 5), (5, 2010, 'Lions', 6, 10), (6, 2011, 'Lions', 10, 6), (7, 2012, 'Lions', 4, 12)]
cursor.executemany('''INSERT INTO football VALUES(?,?,?,?,?)''', data)

db.commit()

In [6]:
### This query simply prints out everything in the table
cursor.execute('''select * from football''').fetchall()

[(0, 2010, 'Bears', 11, 5),
 (1, 2011, 'Bears', 8, 8),
 (2, 2012, 'Bears', 10, 6),
 (3, 2011, 'Packers', 15, 1),
 (4, 2012, 'Packers', 11, 5),
 (5, 2010, 'Lions', 6, 10),
 (6, 2011, 'Lions', 10, 6),
 (7, 2012, 'Lions', 4, 12)]

# Your Workspace

In [13]:
df2 = pd.DataFrame({ 'A' : 1.,
                            'B' : pd.Timestamp('20130102'),
                            'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                            'D' : np.array([3] * 4,dtype='int32'),
                            'E' : pd.Categorical(["test","train","test","train"]),
                            'F' : 'foo' })

In [14]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [2]:
s1[s1 < 3]

a    0.2
b    0.8
e    2.1
dtype: float64

In [3]:
s1[[True, True, False, True, False]]

a    0.2
b    0.8
d    3.1
dtype: float64

In [5]:
s1

a    0.2
b    0.8
c    4.2
d    3.1
e    2.1
dtype: float64

In [6]:
(s1+s2).isnull()

a    False
b    False
c    False
d     True
e    False
f     True
dtype: bool

In [7]:
s1['f']

KeyError: 'f'

In [21]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
df1 = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])

ValueError: arrays must all be same length

In [11]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [16]:
db = sqlite3.connect(':memory:')
cursor = db.cursor()

cursor.execute('''CREATE TABLE football(id INTEGER PRIMARY KEY, years INTEGER, team TEXT, wins INTEGER, losses INTEGER)''')

data = [(0, 2010, 'Bears', 11, 5), (1, 2011, 'Bears', 8, 8), (2, 2012, 'Bears', 10, 6), (3, 2011, 'Packers', 15, 1),
        (4, 2012, 'Packers', 11, 5), (5, 2010, 'Lions', 6, 10), (6, 2011, 'Lions', 10, 6), (7, 2012, 'Lions', 4, 12)]
cursor.executemany('''INSERT INTO football VALUES(?,?,?,?,?)''', data)

db.commit()

cursor.execute('''select max(wins) from football''').fetchall()

[(15,)]

In [17]:
cursor.execute('''select * from football where wins > 10''').fetchall()

[(0, 2010, 'Bears', 11, 5),
 (3, 2011, 'Packers', 15, 1),
 (4, 2012, 'Packers', 11, 5)]

In [18]:
df1[df1.wins>10]

   year     team  wins  losses
0  2010    Bears    11       5
3  2011  Packers    15       1
4  2012  Packers    11       5

In [19]:
df1['losses']

0     5
1     8
2     6
3     1
4     5
5    10
6     6
7    12
Name: losses, dtype: int64

In [20]:
cursor.execute('''select losses from football''').fetchall()

[(5,), (8,), (6,), (1,), (5,), (10,), (6,), (12,)]